<mat-card class="position">
    <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="50%">
            <img src="../../../assets/contact us.jpg" alt="test" class="imageSize">
        </div>
        <div fxFlex="50%">
            <mat-card-title>Contact Us</mat-card-title>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>Name :</mat-label>
                <input matInput placeholder="Please enter your name">
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>Contact No :</mat-label>
                <input matInput placeholder="Please enter your contact no.">
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>Email :</mat-label>
                <input matInput placeholder="Please enter your email">
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>Message :</mat-label>
                <textarea matInput placeholder="Please enter your message"></textarea>
            </mat-form-field>
            <br />
            <button color="primary" mat-raised-button>Send</button>
        </div>
    </div>

</mat-card>

<!-- <mat-card class="position">
        <mat-card-title>Contact Us</mat-card-title>
        <mat-form-field appearance="outline">
            <mat-label>Name :</mat-label>
            <input matInput placeholder="Please enter your name">
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
            <mat-label>Contact No :</mat-label>
            <input matInput placeholder="Please enter your contact no.">
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
            <mat-label>Email :</mat-label>
            <input matInput placeholder="Please enter your email">
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
            <mat-label>Message :</mat-label>
            <textarea matInput placeholder="Please enter your message"></textarea>
        </mat-form-field>
    </mat-card> -->